<% @title = 'Daily Registration Summary' %>

<h3>Daily Registration Summary</h3>

<% if @registration_summaries.empty? %>
  <p style="font-weight: bold;">No Registration For <%=h @registration_school_year.name %> School Year</p>
<% else %>
  <table class="transaction-history-table" border="0px">
    <thead>
      <tr>
        <th>Date</th>
        <th>Registered Student Count</th>
        <th>Registration</th>
        <th>Tuition</th>
        <th>Book Charge</th>
        <th>PVA</th>
        <th>CCCA</th>
        <th>Total Amount Paid</th>
      </tr>
    </thead>
    <tbody>
      <% @registration_summaries.each do |summary| -%>
        <tr>
          <td>
            <% if @user.has_role? Role::ROLE_NAME_ACCOUNTING_OFFICER %>
              <%= link_to summary[0].to_s, {controller: '/accounting/registration_report', action: 'registration_payments_by_date', date: summary[0].to_s}, {class: 'button'} %>
            <% else %>
              <%= summary[0].to_s %>
            <% end %>
          </td>
          <td><%= summary[1][:student_count] %></td>
          <td><%=number_to_currency(summary[1][:total_registration_in_cents] / 100.0) %></td>
          <td><%=number_to_currency(summary[1][:total_tuition_in_cents] / 100.0) %></td>
          <td><%=number_to_currency(summary[1][:total_book_charge_in_cents] / 100.0) %></td>
          <td><%=number_to_currency(summary[1][:total_pva_due_in_cents] / 100.0) %></td>
          <td><%=number_to_currency(summary[1][:total_ccca_due_in_cents] / 100.0) %></td>
          <td><%=number_to_currency(summary[1][:total_amount_in_cents] / 100.0) %></td>
        </tr>
      <% end %>
        <tr><td colspan="8"><hr/></td></tr>
        <tr>
          <td>Total</td>
          <td><%= @student_count_total %></td>
          <td><%=number_to_currency(@payment_total_registration_in_cents / 100.0) %></td>
          <td><%=number_to_currency(@payment_total_tuition_in_cents / 100.0) %></td>
          <td><%=number_to_currency(@payment_total_book_charge_in_cents / 100.0) %></td>
          <td><%=number_to_currency(@payment_total_pva_due_in_cents / 100.0) %></td>
          <td><%=number_to_currency(@payment_total_ccca_due_in_cents / 100.0) %></td>
          <td><%=number_to_currency(@payment_total_in_cents / 100.0) %></td>
        </tr>
    </tbody>
  </table>
<% end %>
