<h3>Tuition and Fee For <%=h registration_payment.school_year.name %> School Year</h3>

<% registration_payment.student_fee_payments.each do |student_fee_payment| %>
<p>
  For <%=h student_fee_payment.student.name %>
  <% registration_preference = student_fee_payment.student.registration_preference_for(registration_payment.school_year) %>
  <br/>
  entering grade <%=h registration_preference.grade.name %>
  <br/>
  <% unless registration_preference.elective_class.nil? -%>
    selecting elective class <%=h registration_preference.elective_class.name %>
  <% end %>
</p>
<table class="tuition-detail" border="0px">
  <tr>
    <td class="label">Registration Fee:</td>
    <td><%= number_to_currency student_fee_payment.registration_fee %></td>
  </tr>
  <tr>
    <td class="label">Tuition<%= label_for_tuition_discount_applied(student_fee_payment) %>:</td>
    <td><%= number_to_currency student_fee_payment.tuition %></td>
  </tr>
  <tr>
    <td class="label">Books / Material:</td>
    <td><%= number_to_currency student_fee_payment.book_charge %></td>
  </tr>
</table>
<hr/>
<% end %>

<table class="tuition-detail" border="0px">
  <tr>
    <td class="label">PVA Annual Membership:</td>
    <td><%= number_to_currency registration_payment.pva_due %></td>
  </tr>
  <tr>
    <td class="label">CCCA Annual Membership:</td>
    <td><%= number_to_currency registration_payment.ccca_due %></td>
  </tr>
</table>
<hr/>
<table class="tuition-detail" border="0px">
  <tr>
    <td class="label">Grand Total:</td>
    <td><%= number_to_currency registration_payment.grand_total %></td>
  </tr>
</table>
<br/>
