<% @title = 'Student Registration Options' %>

<h3>Registration For <%=h @registration_school_year.name %> School Year</h3>
<table class="registration-options-table" border="0px">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Current Grade</th>
      <th>Next Grade</th>
      <th>Select Elective Class</th>
    </tr>
  </thead>
  <tbody>
    <% form_tag :action => 'display_tuition', :id => @registration_school_year do %>
      <% @possible_students.each do |student| -%>
    <tr>
      <td class="checkbox"><%= check_box_tag "#{student.id}_register", true %></td>
      <td><%=h student.name %></td>
      <% current_grade = student.current_year_student_class_assignment.try(:grade) %>
      <td><%=h current_grade.try(:name) %></td>
      <td>
        <%=h current_grade.try(:next_grade).try(:name) %>
        <%= hidden_field_tag "#{student.id}_next_grade", current_grade.try(:next_grade).try(:id) %>
      </td>
      <td>
        <%= collection_select "#{student.id}_elective", :elective_class, @available_elective_classes, :id, :name, {:include_blank => true} %>
      </td>
    </tr>
      <% end %>
    <tr>
      <td class="checkbox"></td>
      <td></td>
      <td style="padding-top: 1em;">
        <%= submit_tag 'Continue', :class => 'button'  %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
