<% @title = 'Tuition and Fee' %>

<h3>Tuition and Fee For <%=h @registration_school_year.name %> School Year</h3>

<% @registration_entries.each do |registration_entry| %>
<p>
  For <%=h registration_entry[:student].name %>
  <br/>
  entering grade
  <% if registration_entry[:next_grade].nil? -%>
    TBD
  <% else %>
    <%=h registration_entry[:next_grade].name %>
  <% end %>
  <br/>
  <% unless registration_entry[:elective_class].nil? -%>
    selecting elective class <%=h registration_entry[:elective_class].name %>
  <% end %>
</p>
<table class="tuition-detail" border="0px">
  <tr>
    <td class="label">Registration Fee:</td>
    <td><%=number_to_currency @registration_school_year.registration_fee %></td>
  </tr>
  <tr>
    <td class="label">Tuition:</td>
    <td><%=number_to_currency(registration_entry[:tuition_in_cents] / 100.0) %></td>
  </tr>
  <tr>
    <td class="label">Books:</td>
    <td><%=number_to_currency @registration_school_year.book_charge %></td>
  </tr>
</table>
<hr/>
<% end %>

<table class="tuition-detail" border="0px">
  <tr>
    <td class="label">PVA Annual Membership:</td>
    <td><%=number_to_currency(@registration_pva_due_in_cents / 100.0) %></td>
  </tr>
  <tr>
    <td class="label">CCCA Annual Membership:</td>
    <td><%=number_to_currency(@registration_ccca_due_in_cents / 100.0) %></td>
  </tr>
</table>
<hr/>
<table class="tuition-detail" border="0px">
  <tr>
    <td class="label">Grand Total:</td>
    <td><%=number_to_currency(@registration_grand_total_in_cents / 100.0) %></td>
  </tr>
  <tr>
    <td class="label"></td>
    <td><%= link_to 'Continue', {:action => :display_legal}, {:class => 'button'} %></td>
  </tr>
</table>
