<% @title = 'Tuition and Fee' %>

<h3>Tuition and Fee For <%=h @registration_school_year.name %> School Year</h3>

<% @registration_student_entries.each do |registration_preference, student_fee_payment| %>
<p>
  For <%=h registration_preference.student.name %>
  <br/>
  entering grade <%=h registration_preference.grade.name %>
  <br/>
  <% unless registration_preference.elective_class.nil? -%>
    selecting elective class <%=h registration_preference.elective_class.name %>
  <% end %>
</p>
<table class="tuition-detail" border="0px">
  <tr>
    <td class="label">Registration Fee:</td>
    <td><%=number_to_currency student_fee_payment.registration_fee %></td>
  </tr>
  <tr>
    <td class="label">Tuition:</td>
    <td><%=number_to_currency student_fee_payment.tuition %></td>
  </tr>
  <tr>
    <td class="label">Books:</td>
    <td><%=number_to_currency student_fee_payment.book_charge %></td>
  </tr>
</table>
<hr/>
<% end %>

<table class="tuition-detail" border="0px">
  <tr>
    <td class="label">PVA Annual Membership:</td>
    <td><%=number_to_currency @registration_payment.pva_due %></td>
  </tr>
  <tr>
    <td class="label">CCCA Annual Membership:</td>
    <td><%=number_to_currency @registration_payment.ccca_due %></td>
  </tr>
</table>
<hr/>
<table class="tuition-detail" border="0px">
  <tr>
    <td class="label">Grand Total:</td>
    <td><%=number_to_currency @registration_payment.grand_total %></td>
  </tr>
</table>
<br/><br/>
<div class="account-form">
  <% form_tag :action => 'submit_payment', :id => @registration_payment do %>
    <fieldset>
        <legend>Enter Credit Card Information</legend>
        <span class="payment-entry">
          <p>Chinese School Accepts Visa, MasterCard, or Discover Credit Card</p>
          <div>
            <label for="card_number"><span style="color:red">*&nbsp;</span>Card Number:</label>
            <%= text_field_tag :card_number, '', :size => 16 %>
          </div>
          <div>
            <label for="card_number"><span style="color:red">*&nbsp;</span>Valid Through:</label>
            <%= select "valid_through", :month, (1..12) %>
            &nbsp;/
            <%= select "valid_through", :year, (Date.today.year..(Date.today.year + 5)) %>
          </div>
          <div>
            <label for="card_number"><span style="color:red">*&nbsp;</span>CVV Code:</label>
            <%= text_field_tag :cvv_code, '', :size => 3 %>
          </div>
          <span style="color:red">*&nbsp;</span>Required Field
          <div>
            <%= submit_tag 'Submit Payment', :class => 'submit' %>
          </div>
        </span>
    </fieldset>
  <% end %>
</div>
<br/>
<%= link_to 'Cancel Registration', {:action => :remove_pending_registration_payment, :id => @registration_payment}, {:class => 'button'} %>
