<% @title = 'Tuition and Fee' %>

<%= render partial: 'registration_payment', object: @registration_payment %>
<br/>
<div class="account-form">
  <% if @credit_card.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@credit_card.errors.size, 'error') %> prohibited this credit card from being processed:</h2>
        <ul>
          <% @credit_card.errors.full_messages.each do |msg| %>
              <li><%= msg %></li> <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for :credit_card, url: {action: 'submit_payment', id: @registration_payment} do |form| %>
      <fieldset>
        <legend>Enter Credit Card Information</legend>
        <span class="payment-entry">
          <p>
            Chinese School does not save credit card information<br/>
            <b>Only Visa or MasterCard Credit Cards are accepted</b>
          </p>
          <div>
            <label for="number"><span style="color:red">*&nbsp;</span>Card Number:</label>
            <%= form.text_field :number, size: 25 %>
          </div>
          <div>
            <label><span style="color:red">*&nbsp;</span>Valid Through:</label>
            <%= form.select :month, (1..12) %>
            &nbsp;/
            <%= form.select :year, (PacificDate.today.year..(PacificDate.today.year + 10)) %>
          </div>
          <div>
            <label for="verification_value"><span style="color:red">*&nbsp;</span>Card Code:</label>
            <%= form.text_field :verification_value, size: 3 %>
          </div>
          <span style="color:red">*&nbsp;</span>Required Field
          <div>
            <%= submit_tag 'Submit Payment', class: 'submit', disable_with: 'Processing Payment... Please Wait' %>
          </div>
        </span>
      </fieldset>
  <% end %>
</div>
<br/>
<br/>
<%= link_to 'Cancel Registration', {action: :remove_pending_registration_payment, id: @registration_payment}, {class: 'button'} %>
