<% @title = 'Sign In' %>

<div class="account-form">
  <% form_tag do %>
    <fieldset>
      <legend>Please Sign In</legend>
      <span class="signin">
        <div>
          <label for="username">Username:</label>
          <%= text_field_tag :username, params[:username] %>
        </div>
        <div>
          <label for="password">Password:</label>
          <%= password_field_tag :password %>
        </div>
        <div>
          <%= submit_tag 'Sign In', :class => 'submit' %>
        </div>
      </span>
    </fieldset>
  <% end %>
</div>
<br/>
<span class="register-link">
  <%= link_to 'Forgot password?  Request password reset here', :action => 'forgot_password' %>
</span>
<br/>
<!--<span class="register-link">
  <%= link_to 'No account yet?  Register here', :action => 'register' %>
</span>-->

<br/>
<span class="register-link">
  <a href="/chineseschool/privacy.html">Privacy Policy</a>
</span>

