<% @title = 'Create User' %>

<p style="color: red;">
  <span style="font-weight: bold;">
    Families with existing or prior students in Thousand Oaks Chinese School
  </span>
   - Please contact engineering@to-cs.org with your information to obtain
  user invitation so that your user could be linked to existing data.
  Do not use the form below to create new user.
</p>
<br/>
<p>
  For new family who has not attend Thousand Oaks Chinese School before, please
  fill out the form below to create a new account.
</p
<p>
  Please note that information collected below is for family address and the parent
  who would be managing the account, not the prospective student.  Once the account
  is established, student information could be entered when signed-in with the new
  user.
</p>
<br/>

<div class="account-form">
  <%= error_messages_for :address, :parent_one, :user, :object_name => 'user' %>

  <% form_for :address do |form| %>
    <fieldset>
      <legend>Create User For New Family</legend>
      <span class="person-edit">
        <div>
          Family Address:
        </div>
        <%= render :partial => 'registration/addresses/address_form', :object => form %>
        <br/>
        <div>
          Parent One of the family:
        </div>
        <% fields_for :parent_one do |parent_one| %>
        <%= render :partial => 'registration/people/person_form', :object => parent_one %>
        <% end %>
        <br/>
        <div>
          Please create your account username and password:
        </div>
        <% fields_for :user do |user| %>
        <div>
          <label for="username"><span style="color:red">*&nbsp;</span>Username:</label>
          <%= user.text_field :username %>
        </div>
        <div>
          <label for="password"><span style="color:red">*&nbsp;</span>Password:</label>
          <%= password_field_tag :password %>
        </div>
        <div>
          <label for="password_confirmation"><span style="color:red">*&nbsp;</span>Re-type Password:</label>
          <%= password_field_tag :password_confirmation %>
          <% unless flash[:password_not_match].nil? %>
            <span style="color:red"><%=h flash[:password_not_match]%></span>
          <% end %>
        </div>
        <% end %>
        <br/>
        <span style="color:red">*&nbsp;</span>Required Field
        <div>
          <%= submit_tag 'Create User', :class => 'submit' %>
        </div>
      </span>
    </fieldset>
  <% end %>
</div>
<br/>
<span class="register-link">
  <%= link_to 'Back to Sign In', :action => 'index' %>
</span>