<% @title = 'Reset Password' %>

<div class="account-form">
  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this password reset:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li> <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_tag do %>
    <fieldset>
      <legend>Reset Password for <%=h @user.username %></legend>
      <span class="register">
        <div>
          Please verify your identity against existing records with Chinese School:
        </div>
        <div>
          <label for="phone_number">Phone Number:</label>
          <%= text_field_tag :phone_number, params[:phone_number] %>
          &nbsp;&nbsp;home phone number or mobile phone number
        </div>
        <br/>
        <div>
          Please create new password:
        </div>
        <div>
          <label for="password">Password:</label>
          <%= password_field_tag :password %>
          &nbsp;&nbsp;password must be at least 6 characters long, case sensitive
        </div>
        <div>
          <label for="password_confirmation">Re-type Password:</label>
          <%= password_field_tag :password_confirmation %>
        </div>
        <div>
          <%= submit_tag 'Save New Password', class: 'submit' %>
        </div>
      </span>
    </fieldset>
  <% end %>
</div>
