<% @title = 'Transaction History' %>

<p>
  This payment was processed on <%= display_utc_time_in_pacific(@gateway_transaction.updated_at) %><br/>
  <%= number_to_currency(@gateway_transaction.amount_in_cents / 100.0) %>  has been charged to
  <%= @gateway_transaction.credit_card_type.capitalize %> Card ending <%= @gateway_transaction.credit_card_last_digits %><br/>
  Payment Reference Number is
  <span style="font-weight: bold;"><%=h @gateway_transaction.reference_number %></span><br/>
</p>
<%= render :partial => '/student/registration/registration_payment', :object => @registration_payment %>
<br/>
<%= link_to 'Return to Transaction History', {:action => :index}, {:class => 'button'} %>

