      <td><%=h active_school_class.english_name %></td>
      <td><%=h active_school_class.chinese_name %></td>
      <td><%=h active_school_class.description %></td>
      <td><%=h active_school_class.location %></td>
      <td><%=h active_school_class.room_parent %></td>
      <td>Primary Instructor</td>
      <td>Secondary Instructor</td>
      <td>Teaching Assistant</td>