<table class="details-table" border="1px">
  <thead>
    <tr>
      <th>班級</th>
      <th>人數</th>
      <th>教室</th>
      <% if school_year == SchoolYear.current_school_year %>
        <th>老師</th>
        <th>Room Parent and Email</th>
      <% end %>
      <th>Maximum Size</th>
      <th>Minimum Age</th>
      <th>Maximum Age</th>
    </tr>
  </thead>
  <tbody>
    <% total_student_count = 0 %>
    <% student_counts.each do |school_class| -%>
    <tr>
      <td><%=h school_class.name %></td>
      <% class_size = school_class.class_size(school_year) %>
      <% total_student_count += class_size %>
      <td><%= class_size %></td>
      <td><%=h school_class.location %></td>
      <% if school_year == SchoolYear.current_school_year %>
          <% assignment_hash = school_class.instructor_assignments %>
          <td>
            <% instructor = school_class.current_primary_instructor %>
            <%=h instructor.try(:name) %><br/>
            <%=h instructor.try(:personal_email_address) %><br/>
            <%=h instructor.try(:personal_home_phone) %><br/>
          </td>
          <td>
            <% room_parent = school_class.room_parent_assignment.try(:instructor) %>
            <%=h room_parent.try(:name) %><br/>
            <%=h room_parent.try(:personal_email_address) %><br/>
            <%=h room_parent.try(:personal_home_phone) %><br/>
          </td>
      <% end %>
      <td><%=h school_class.max_size %></td>
      <td><%=h school_class.min_age %></td>
      <td><%=h school_class.max_age %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>
Total Student Count: <%= total_student_count %>
<br/>
Current Time: <%= PacificTimeDisplay.display_now_in_pacific %>
