
<% @title = "Assign team for #{@track_event_program.name} #{title_label_for_gender(@gender)}" %>

<h2><%= @title %></h2>
<br/>
<%= link_to 'Back to Manage Track Events', {controller: '/activity/track_events', action: 'index'}, {class: 'button'} %>
<br/><br/>

<h3>Current Sign-ups</h3>
<table border="1px">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>School Age</th>
      <th>Grade Class</th>
      <th>Assign Team</th>
    </tr>
  </thead>
  <tbody>
    <% @track_event_signups.each do |signup| %>
      <% student = signup.student %>
    <tr>
      <td align="center"><%=h student.name %></td>
      <td align="center"><%= student.school_age_for(SchoolYear.current_school_year) %></td>
      <td align="center"><%= student.student_class_assignment_for(SchoolYear.current_school_year).school_class.short_name %></td>
      <td>
        <%= render partial: 'track_team_assignment', locals: {track_event_teams: @track_event_teams, gender: @gender, signup: signup} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/><br/>

<h3>Team List</h3>
<%= link_to 'Refresh Team Member Count', {controller: '/activity/track_events', action: 'assign_student_team_index', id: @track_event_program, gender: @gender}, {class: 'button'} %>
<br/><br/>
<table border="1px">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Team Member Count</th>
    </tr>
  </thead>
  <tbody>
    <% @track_event_teams.each do |team| %>
    <tr>
      <td align="center"><%=h team.name %></td>
      <td align="center"><%= team.track_event_signups.size %></td>
      <td><%= link_to 'Delete', {controller: '/activity/track_events', action: 'delete_team', id: team, gender: @gender}, {class: 'button', confirm: "Are you sure you want to delete #{team.name}?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br/>
<p>Note that student team name should start with a number representing the starting team age.<br/>
  For example, 4-5 Team A, 12 & over Team 1</p>
<%= form_tag action: 'create_team', id: @track_event_program, gender: @gender do %>
    <%= submit_tag 'Create New Team', class: 'button' %>&nbsp;with name&nbsp;<%= text_field_tag :name, '', size: 20 %>
<% end %>
<br/><br/>

<h3>Filler Team</h3>

<% if @filler_team.nil? %>
    No filler team
<% else %>
    Current fillter team is <b><%=h @filler_team.name %></b>
<% end %>
<br/><br/>
<%= form_tag action: 'change_filler_team', id: @track_event_program, gender: @gender do %>
    <%= submit_tag 'Change', class: 'button' %>&nbsp;filler team to&nbsp;
    <%= select('team', 'filler', @track_event_teams.collect {|team| [team.name, team.id]}, {include_blank: true, selected: (@filler_team.nil? ? '' : @filler_team.id) }) %>
<% end %>

<br/><br/>
<b>Filler Sign-ups</b><br/>
<table border="1px">
  <thead>
  <tr>
    <th>Student Name</th>
    <th>School Age</th>
    <th>Grade Class</th>
  </tr>
  </thead>
  <tbody>
  <% @track_event_program.filler_signups_for_gender(@gender).sort.each do |signup| %>
      <% student = signup.student %>
      <tr>
        <td align="center"><%=h student.name %></td>
        <td align="center"><%= student.school_age_for(SchoolYear.current_school_year) %></td>
        <td align="center"><%= student.student_class_assignment_for(SchoolYear.current_school_year).school_class.short_name %></td>
        <td><%= link_to 'Delete', {controller: '/activity/track_events', action: 'delete_filler_signup', id: signup, gender: @gender}, {class: 'button'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>
<%= form_tag action: 'create_filler_signup', id: @track_event_program, gender: @gender do %>
    <%= submit_tag 'Add Filler Sign-up', class: 'button' %>&nbsp;with student&nbsp;
    <%= select('filler', 'signup_ref', @track_event_signups.collect {|signup| [signup.student.name, signup.id]}, {include_blank: false}) %>
<% end %>
<br/><br/>
