<% @title = "Track Event Heat #{@heat.run_order}" %>

<%= link_to 'Back to View Lane Assignments', {controller: '/activity/track_events', action: 'lane_assignment_index'}, {class: 'button'} %>
<br/><br/>

<h3><%= @heat.track_event_program.name %></h3>
<h3>Heat <%= @heat.run_order %></h3>

<%= form_tag action: 'save_track_time', id: @heat do %>
    <% current_lane_number = 2 %>
    <% @heat.sorted_teams.each do |team| %>
    <h5>Lane <%= current_lane_number %> -- <%=h team.name %></h5>
    <table border="1px">
      <thead>
      <tr>
        <th>Participant Name</th>
        <th>Gender</th>
        <% unless @heat.track_event_program.parent_division? %>
            <th>School Age</th>
            <th>Grade Class</th>
        <% end %>
        <th>Jersey Number</th>
      </tr>
      </thead>
      <tbody>
      <% team.track_event_signups.sort.each do |signup| %>
          <% participant = signup.participant %>
          <tr>
            <td align="center"><%=h participant.name %></td>
            <td align="center"><%=h participant.gender %></td>
            <% unless @heat.track_event_program.parent_division? %>
                <td align="center"><%= participant.school_age_for(SchoolYear.current_school_year) %></td>
                <td align="center"><%= participant.student_class_assignment_for(SchoolYear.current_school_year).school_class.short_name %></td>
            <% end %>
            <td align="center"><%=h participant.jersey_number_for(SchoolYear.current_school_year).jersey_number %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
        Track Time <%= text_field_tag "track_time_#{team.id}", "#{team.track_time.nil? ? '' : (team.track_time / 100.0) }", size: 6, align: :right %>
    <br/><br/>
        <% current_lane_number += (@heat.track_event_program.sparse_lane_program? ? 2 : 1) %>
    <% end %>
    <br/>
    <%= submit_tag 'Save Track Time', class: 'button' %>
<% end %>
<br/><br/>
