<% @title = 'Manage Track Events' %>

<table border="1px">
  <thead>
    <tr>
      <th>Chinese Name</th>
      <th>English Name</th>
      <th>Location</th>
      <th>Primary Instructor</th>
      <th>Room Parent</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @active_grade_classes.each do |active_grade_class| -%>
    <tr>
      <td><%=h active_grade_class.chinese_name %></td>
      <td><%=h active_grade_class.english_name %></td>
      <td><%=h active_grade_class.location %></td>
      <%- assignment_hash = active_grade_class.current_instructor_assignments -%>
      <td><%=h assignment_hash[InstructorAssignment::ROLE_PRIMARY_INSTRUCTOR].collect { |instructor| instructor.name }.join(';') %></td>
      <td><%=h assignment_hash[InstructorAssignment::ROLE_ROOM_PARENT].collect { |instructor| instructor.name }.join(';') %></td>
      <td>
        <%= link_to 'Registration', {:controller => '/activity/track_events', :action => 'registration', :id => active_grade_class}, {:class => 'button'} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
