<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Track Event Sign Up Form</title>
    <%= stylesheet_link_tag 'layout' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <table border="1px" style="text-align: center;">
      <thead>
        <tr>
          <th colspan="3"><%= @school_class.name %></th>
          <%- tocs_column_count = 5 -%>
          <%- tocs_column_count = 7 if @school_class.grade.id > 6 -%>
          <th colspan="<%= tocs_column_count %>">千橡 Events (<%= SchoolYear::TRACK_EVENT_DATE.to_s %>)</th>
        </tr>
        <tr>
          <th>Student Name</th>
          <th>Gender</th>
          <th>Birth Month</th>
          <% @track_event_programs.each do |track_event_program| %>
            <th><%=h track_event_program.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @school_class.students.each do |student| -%>
        <tr>
          <td><%=h student.name %></td>
          <td><%=h student.gender %></td>
          <td><%=h student.birth_info %></td>
          <% @track_event_programs.each do |track_event_program| %>
            <td></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
