<% @title = 'View Class Scores' %>

<h2>Class Scores for Track Events <%=h SchoolYear.current_school_year.name %></h2>

<table class="details-table" border="1px">
  <thead>
  <tr>
    <th>Grade Class</th>
    <th>Student Count</th>
    <th>Participant Count</th>
    <th>Track Event Scores</th>
  </tr>
  </thead>
  <tbody>
  <% @active_grade_classes.each do |school_class| -%>
      <tr>
        <td><%=h school_class.name %></td>
        <td><%= school_class.class_size %></td>
        <td><%= school_class.track_event_participant_count %></td>
        <td><%= school_class.track_event_scores %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/><br/>
