<% @title = 'Create Role' %>

<div class="account-form">
  <%= error_messages_for :role %>

  <% form_for :role, :url => { :action => :create } do |form| %>
    <fieldset>
      <legend><%= @title %></legend>
      <div>
        <%= form.label :name %>:
        <%= form.text_field :name %>
      </div>
      <div>
        <%= submit_tag "Save New Role" %>
      </div>
    </fieldset>
  <% end %>
</div>
