<% @title = 'Create Role' %>

<div class="admin-form">
  <% form_for :role, :url => { :action => :create } do |form| %>
    <%= form.error_messages %>

    <fieldset>
      <legend><%= @title %></legend>
      <div>
        <%= form.label :name %>:
        <%= form.text_field :name %>
      </div>
      <div>
        <%= submit_tag "Save New Role" %>
      </div>
    </fieldset>
  <% end %>
</div>
