<h3>Activity Officer Resources</h3>

<br/>
<%= link_to "#{SchoolYear.current_school_year.name} 班級人數清單", {controller: '/registration/active_school_classes', action: 'grade_class_student_count', id: SchoolYear.current_school_year.id}, {class: 'button'} %>
<%= link_to "#{SchoolYear.current_school_year.name} Elective Class 人數清單", {controller: '/registration/active_school_classes', action: 'elective_class_student_count', id: SchoolYear.current_school_year.id}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'Download Fire Drill Form', {controller: '/activity/forms', action: 'fire_drill_form', format: 'pdf'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'List Active School Classes', {controller: '/instruction/active_school_classes'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'Download Student List CSV', {controller: '/activity/forms', action: 'students_by_class', format: 'csv'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'Grade Class Information CSV', {controller: '/activity/forms', action: 'grade_class_information', format: 'csv'}, {class: 'button'} %>
<%= link_to 'Elective Class Information CSV', {controller: '/activity/forms', action: 'elective_class_information', format: 'csv'}, {class: 'button'} %>
<br/>
<% if PacificDate.today >= SchoolYear::TRACK_EVENT_SIGN_UP_PREVIEW_START_DATE and PacificDate.today < SchoolYear.current_school_year.end_date %>
    <br/>
    <%= link_to 'Manage Track Events', {controller: '/activity/track_events'}, {class: 'button'} %>
    <br/>
<% end %>
<br/>
<hr/>
