<h3>Instruction Officer Resources</h3>


<br/>
<%= link_to "#{SchoolYear.current_school_year.name} 班級人數清單", {controller: '/registration/active_school_classes', action: 'grade_class_student_count', id: SchoolYear.current_school_year.id}, {class: 'button'} %>
<%= link_to "#{SchoolYear.current_school_year.name} Elective Class 人數清單", {controller: '/registration/active_school_classes', action: 'elective_class_student_count', id: SchoolYear.current_school_year.id}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'List Active School Classes', {controller: '/instruction/active_school_classes', action: 'index'}, {class: 'button'} %>
<br/>

<% unless SchoolYear.next_school_year.nil? %>
    <br/>
    <%= link_to "#{SchoolYear.next_school_year.name} 班級人數清單", {controller: '/registration/active_school_classes', action: 'grade_class_student_count', id: SchoolYear.next_school_year.id}, {class: 'button'} %>
    <%= link_to "#{SchoolYear.next_school_year.name} Elective Class 人數清單", {controller: '/registration/active_school_classes', action: 'elective_class_student_count', id: SchoolYear.next_school_year.id}, {class: 'button'} %>
    <br/>
<% end %>
<br/>
<%= link_to "Download Student Final Marks CSV For #{SchoolYear.current_school_year.name}", {controller: '/instruction/school_classes', action: 'download_student_final_marks', format: 'csv'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'View Library Books', {controller: '/librarian/library_books', action: 'read_only_view'}, {class: 'button'} %>
<br/>
<br/>
<hr/>
