<h3>Instructor Resources</h3>

<br/>
<% @person.instructor_assignments_for(SchoolYear.current_school_year).each do |instructor_assignment| %>
  <% school_class = instructor_assignment.school_class %>
  <%= link_to "Student List For #{school_class.name}",
      {:controller => '/instruction/school_classes', :action => 'show', :id => school_class}, {:class => 'button'} %>
  <br/><br/>
  <% if instructor_assignment.role_is_an_instructor? %>
    <% display_room_parent_selection_handler = "displayRoomParentSelection(this, '#{url_for :controller => "/instruction/school_classes", :action => :display_room_parent_selection, :id => school_class}')"  %>
    <span style="font-weight: bold;">Room Parent For <%=h school_class.name %> :</span> 
    <span id="instructor_select_room_parent"><%= render :partial => '/instruction/school_classes/show_current_room_parent', :object => school_class %></span>
    <br/><br/>
  <% end %>
  <% track_event_sign_up_end_date = Date.parse('2012-03-29') %>
  <% if PacificDate.today > Date.parse('2012-03-01') and PacificDate.today < track_event_sign_up_end_date %>
    <%= link_to "Track Event Sign Up For #{school_class.name}",
        {:controller => '/activity/track_events', :action => 'sign_up', :id => school_class}, {:class => 'button'} %>
    <br/><br/>
  <% elsif PacificDate.today >= track_event_sign_up_end_date and PacificDate.today < Date.parse('2012-05-01') %>
    <%= link_to "Track Event Sign Up Result For #{school_class.name}",
        {:controller => '/activity/track_events', :action => 'sign_up_result', :id => school_class}, {:class => 'button'} %>
    <br/><br/>
  <% end %>
<% end %>

<br/>
<hr/>
