<h3>Librarian Resources</h3>

<br/>
<%= link_to "#{SchoolYear.current_school_year.name} 班級人數清單", {controller: '/registration/active_school_classes', action: 'grade_class_student_count', id: SchoolYear.current_school_year.id}, {class: 'button'} %>
<%= link_to "#{SchoolYear.current_school_year.name} Elective Class 人數清單", {controller: '/registration/active_school_classes', action: 'elective_class_student_count', id: SchoolYear.current_school_year.id}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'Download Printable Student List By Class', {controller: '/registration/student_class_assignments', action: 'student_list_by_class', format: 'pdf'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'List Active School Classes', {controller: '/instruction/active_school_classes', action: 'index'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'Search Students By Registration Dates', {controller: '/librarian/search_students', action: 'index'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'Manage Books', {controller: '/librarian/library_books', action: 'index'}, {class: 'button'} %>
<br/>

<br/>
<hr/>
