<h3>Registration Officer Resources</h3>

<br/>
<%= link_to 'Process In-person Registration Payments', {controller: '/accounting/in_person_registration_payments'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'List All People', {controller: '/registration/people'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'List All Grades', {controller: '/admin/grades'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'List All School Classes', {controller: '/admin/school_classes'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to "#{SchoolYear.current_school_year.name} 班級人數清單", {controller: '/registration/active_school_classes', action: 'grade_class_student_count', id: SchoolYear.current_school_year.id}, {class: 'button'} %>
<%= link_to "#{SchoolYear.current_school_year.name} Elective Class 人數清單", {controller: '/registration/active_school_classes', action: 'elective_class_student_count', id: SchoolYear.current_school_year.id}, {class: 'button'} %>
<br/>
<br/>
<%= link_to "#{SchoolYear.current_school_year.name} Active School Classes", {controller: '/registration/active_school_classes', action: 'index', id: SchoolYear.current_school_year.id}, {class: 'button'} %>
<br/>

<% unless SchoolYear.next_school_year.nil? %>
<br/>
<%= link_to "#{SchoolYear.next_school_year.name} 班級人數清單", {controller: '/registration/active_school_classes', action: 'grade_class_student_count', id: SchoolYear.next_school_year.id}, {class: 'button'} %>
<%= link_to "#{SchoolYear.next_school_year.name} Elective Class 人數清單", {controller: '/registration/active_school_classes', action: 'elective_class_student_count', id: SchoolYear.next_school_year.id}, {class: 'button'} %>
<br/>
    <br/>
    <%= link_to "#{SchoolYear.next_school_year.name} Active School Classes", {controller: '/registration/active_school_classes', action: 'index', id: SchoolYear.next_school_year.id}, {class: 'button'} %>
    <br/>
<% end %>

<br/>
<%= link_to 'Download Printable Student List By Class', {controller: '/registration/student_class_assignments', action: 'student_list_by_class', format: 'pdf'}, {class: 'button'} %>
<%= link_to 'Download Printable Student List By Elective Class', {controller: '/registration/student_class_assignments', action: 'student_list_by_class', elective: true, format: 'pdf'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'List Active Students By Name', {controller: '/registration/student_class_assignments', action: 'list_active_students_by_name'}, {class: 'button'} %>
<%= link_to 'Download Printable Student List By Name', {controller: '/registration/student_class_assignments', action: 'list_active_students_by_name', format: 'pdf'}, {class: 'button'} %>
<br/>
<!--
<br/>
<%= form_tag controller: '/registration/student_class_assignments', action: 'list_by_grade' do %>
  <%= collection_select :grade, :id, Grade.all, :id, :chinese_name %>
  <%= submit_tag 'Manage Students By Grade', class: 'button' %>
<% end %>
<br/>
-->
<br/>
<%= link_to 'Randomly Assign Students To Grade Class', {controller: '/registration/student_class_assignments', action: 'random_assign_grade_class'}, {class: 'button', confirm: 'WARNING - This action can not be reversed.  Are you sure you want to proceed?'} %>
<br/>
<br/>
<%= link_to 'Create A New Family', {controller: '/registration/families', action: 'new'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'Manage School Years', {controller: '/admin/school_years'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'Registration Integrity Report', {controller: '/registration/report', action: 'registration_integrity'}, {class: 'button'} %>
<%= link_to 'Sibling in Same Grade Report', {controller: '/registration/report', action: 'sibling_in_same_grade'}, {class: 'button'} %>
<br/>
<br/>
<%= link_to 'List Manual Transactions From Last Two School Years', {controller: '/accounting/manual_transactions', action: 'index'}, {class: 'button'} %>
<br/>
<br/>
<% @active_registration_school_years.each do |registration_year| %>
  <%= link_to "Daily Online Registration Summary For #{registration_year.name} School Year", {controller: '/registration/report', action: 'daily_online_registration_summary', id: registration_year}, {class: 'button'} %>
  <br/>
<% end %>
<br/>
<hr/>
