      <% student_class_assignment = student.student_class_assignment_for school_year %>
      <% unless student_class_assignment.nil? -%>
        <tr>
          <td class="label"><%=h school_year.name %> Grade:</td>
          <td><%=h student_class_assignment.try(:grade).try(:name) %></td>
        </tr>
        <% unless student_class_assignment.try(:grade).nil? -%>
          <tr>
            <td class="label"><%=h school_year.name %> School Class:</td>
            <td><%=h student_class_assignment.try(:school_class).try(:name) %></td>
          </tr>
          <tr>
            <td class="label">School Class Location:</td>
            <td><%=h student_class_assignment.try(:school_class).try(:location) %></td>
          </tr>
          <tr>
            <td class="label"><%=h school_year.name %> Elective Class:</td>
            <td><%=h student_class_assignment.try(:elective_class).try(:name) %></td>
          </tr>
          <tr>
            <td class="label">Elective Class Location:</td>
            <td><%=h student_class_assignment.try(:elective_class).try(:location) %></td>
          </tr>
        <% end %>
      <% end %>
