<% @title = 'Change Password' %>

<div class="account-form">
  <%= error_messages_for :user %>

  <% form_tag do %>
    <fieldset>
      <legend>Change Password</legend>
      <span class="change-password">
        <div>
          <label for="current_password">Current Password:</label>
          <%= password_field_tag :current_password %>
        </div>
        <div>
          <label for="new_password">New Password:</label>
          <%= password_field_tag :new_password %>
        </div>
        <div>
          <label for="new_password_confirmation">Re-type New Password:</label>
          <%= password_field_tag :new_password_confirmation %>
        </div>
        <div>
          <%= submit_tag 'Change Password' , :class => 'submit' %>
        </div>
      </span>
    </fieldset>
  <% end %>
</div>
