<% @title = 'Change Password' %>

<div class="account-form">
  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this password change:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li> <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_tag do %>
    <fieldset>
      <legend>Change Password</legend>
      <span class="change-password">
        <div>
          <label for="current_password">Current Password:</label>
          <%= password_field_tag :current_password %>
        </div>
        <div>
          <label for="new_password">New Password:</label>
          <%= password_field_tag :new_password %>
        </div>
        <div>
          <label for="new_password_confirmation">Re-type New Password:</label>
          <%= password_field_tag :new_password_confirmation %>
        </div>
        <div>
          <%= submit_tag 'Change Password' , class: 'submit' %>
        </div>
      </span>
    </fieldset>
  <% end %>
</div>
