<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= page_title %></title>
<%= stylesheet_link_tag 'layout', 'hot-sneaks/jquery-ui-1.8.4.custom.css' %>

<%= csrf_meta_tag %>
<%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.4.custom.min', 'application' %>

<% unless page_javascript.nil? %>
<%= javascript_include_tag page_javascript %>
<% end %>