<!-- Side Bar -->
<span class="welcome-text">Welcome, <br/>
<%=h @user.person.name %></span>
<br/>
<br/>
<%= link_to 'Home', controller: '/home', action: 'index' %>
<br/>
<br/>
<%= link_to 'Change Password', controller: '/home', action: 'change_password' %>
<br/>
<br/>
<%= link_to 'Transaction History', controller: '/student/transaction_history', action: 'index' %>
<br/>
<br/>
<%= link_to 'Contact Us', controller: '/pages', action: 'contact_us' %>
<br/>
<br/>
<%= link_to 'Privacy Policy', controller: '/pages', action: 'privacy' %>
<br/>
<br/>
<%= link_to 'Waiver', controller: '/pages', action: 'consent_sample' %>
<br/>
<br/>
<%= link_to 'Sign Out', controller: '/signout', action: 'index' %>
