<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render :partial => 'layouts/html_head_section', :locals => {:page_title => @title, :page_javascript => @page_javascript} %>
    <%= stylesheet_link_tag 'jquery_datatable' %>

    <%= javascript_include_tag 'jquery.dataTables-1.7.0.min' %>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('#jquery-datatable').dataTable({
          "bProcessing": true,
          "iDisplayLength": 25,
          "sPaginationType": "full_numbers"
        });
      });
    </script>
  </head>
  <body>
    <%= render :partial => 'layouts/top_bar' %>

    <table>
      <tr>
        <td  id="side-bar">
          <%= render :partial => 'layouts/side_bar' %>
        </td>
        <td id="main">
          <p id="flash-notice"><%=h flash[:notice] %></p>

          <%= yield :layout %>
        </td>
      </tr>
    </table>
  </body>
</html>
