<% @title = 'Edit School Year' %>

<div class="account-form">
  <% if @school_year.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@school_year.errors.count, 'error') %> prohibited updating this school year:</h2>
        <ul>
          <% @school_year.errors.full_messages.each do |msg| %>
              <li><%= msg %></li> <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for @school_year, url: { action: :edit, id: @school_year } do |form| %>
    <fieldset>
        <legend>Edit School Year</legend>
        <span class="school-year-edit">
          <%= render partial: 'school_year_form', object: form %>
          <span style="color:red">*&nbsp;</span>Required Field
          <div>
            <%= submit_tag 'Save', class: 'submit' %>
          </div>
        </span>
    </fieldset>
  <% end %>
</div>
