<% @title = 'Add Child To Family' %>

<div class="account-form">
  <% if @child.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@child.errors.count, 'error') %> prohibited creating this new child:</h2>
        <ul>
          <% @child.errors.full_messages.each do |msg| %>
              <li><%= msg %></li> <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for @child, url: { action: :add_child } do |form| %>
    <fieldset>
      <legend>Add Child To Family</legend>
      <span class="person-edit">
        <%= render partial: '/registration/people/person_form', object: form %>
        <span style="color:red">*&nbsp;</span>Required Field
        <div>
          <%= submit_tag 'Add', class: 'submit' %>
        </div>
      </span>
    </fieldset>
  <% end %>
</div>
