<% @title = 'Create Family' %>

<div class="account-form">
  <%= error_messages_for :address, :parent_one, :object_name => 'family' %>

  <% form_for :address do |form| %>
    <fieldset>
      <legend>New Family</legend>
      <span class="person-edit">
        <div>
          Family Address:
        </div>
        <div>
          <label for="street"><span style="color:red">*&nbsp;</span>Street:</label>
          <%= form.text_field :street, :size => 60 %>
        </div>
        <div>
          <label for="city"><span style="color:red">*&nbsp;</span>City:</label>
          <%= form.text_field :city, :size => 25 %>
        </div>
        <div>
          <label for="state">State:</label>
          <%= form.select :state, %w{CA} %>
        </div>
        <div>
          <label for="zipcode"><span style="color:red">*&nbsp;</span>Zipcode:</label>
          <%= form.text_field :zipcode, :size => 5 %>
        </div>
        <div>
          <label for="home_phone"><span style="color:red">*&nbsp;</span>Home Phone:</label>
          <%= form.text_field :home_phone, :size => 15 %>
        </div>
        <div>
          <label for="cell_phone">Cell Phone:</label>
          <%= form.text_field :cell_phone, :size => 15 %>
        </div>
        <div>
          <label for="email">Email:</label>
          <%= form.text_field :email, :size => 40 %>
        </div>
        <br/>
        <div>
          Parent One of the family:
        </div>
        <% fields_for :parent_one do |parent_one| %>
        <%= render :partial => 'registration/people/person_form', :object => parent_one %>
        <% end %>
        <span style="color:red">*&nbsp;</span>Required Field
        <div>
          <%= submit_tag 'Create', :class => 'submit' %>
        </div>
      </span>
    </fieldset>
  <% end %>
</div>
