<% @title = 'Family' %>

<table border="1px">
  <thead>
    <tr>
      <th>Parent One</th>
      <th>Parent Two</th>
      <th>Children</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% if @family.parent_one %>
        <%=link_to "#{@family.parent_one.name}", controller: '/registration/people', action: 'show', id: @family.parent_one %>
        <% end %>
      </td>
      <td>
        <% if @family.parent_two %>
        <%=link_to "#{@family.parent_two.name}", controller: '/registration/people', action: 'show', id: @family.parent_two %>
        <% end %>
      </td>
      <td>
        <% @family.children.each do |child| %>
        <%=link_to "#{child.name}", controller: '/registration/people', action: 'show', id: child %><br/>
        <% end %>
      </td>
      <td><%=h @family.address.street_address %></td>
    </tr>
  </tbody>
</table>
<br/>
<div>
  <%= link_to 'Edit Family Address', {controller: '/registration/families', action: 'edit_address', id: @family}, {class: 'button'} %>
</div>
<br/>
<div>
  <% if @family.parent_two.nil? %> <%= link_to 'Add Parent', {action: :add_parent, id: @family}, {class: 'button'} %><% end %>
  <%= link_to 'Add Child', {action: :add_child, id: @family}, {class: 'button'} %>
</div>
<br/>
<div>
  <%= link_to 'Create Another New Family', {controller: '/registration/families', action: 'new'}, {class: 'button'} %>
</div>
