<% @title = 'Family' %>

<table border="1px">
  <thead>
    <tr>
      <th>Parent One</th>
      <th>Parent Two</th>
      <th>Children</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=h @family.parent_one.try(:name) %></td>
      <td><%=h @family.parent_two.try(:name) %></td>
      <td><%=h @family.children_names %></td>
      <td><%=h @family.address.street_address %></td>
    </tr>
  </tbody>
</table>
<br/>
<div>
  <% if @family.parent_two.nil? %> <%= link_to 'Add Parent', :action => :add_parent, :id => @family %><% end %>
</div>
<br/>
<div>
  <%= link_to 'Add Child', :action => :add_child, :id => @family %>
</div>
