<tr>
    <td></td>
    <td>
      <input type="button" value="Remove This Instructor Assignment" class="button" 
             onclick="removeInstructorAssignment(this, '<%= url_for controller: 'registration/instructor_assignments', action: :destroy, id: instructor_assignment %>')"/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <% if instructor_assignment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(instructor_assignment.errors.count, 'error') %> prohibited updating this new instructor assignment:</h2>
            <ul>
              <% instructor_assignment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li> <% end %>
            </ul>
          </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="label">School Year:</td>
    <td><%=h instructor_assignment.school_year.try(:name) %></td>
  </tr>
  <tr>
    <td class="label">School Class:</td>
    <td><%=h instructor_assignment.school_class.try(:chinese_name) %></td>
  </tr>
  <tr>
    <td class="label">Select New School Class:</td>
    <td>
      <% select_school_class_handler = "registrationSelectClass(this, '#{url_for controller: 'registration/instructor_assignments',
          action: :select_school_class, id: instructor_assignment}')" %>
      <%= collection_select :instructor_assignment, :school_class, SchoolClass.find_all_active_school_classes_in_current_and_future_school_years, :id, :chinese_name,
          {selected: instructor_assignment.try(:school_class).try(:id)}, {onchange: select_school_class_handler} %>
    </td>
  </tr>
  <tr>
    <td class="label">Start Date:</td>
    <td><%=h instructor_assignment.start_date_string %></td>
  </tr>
  <!--<tr>
    <td class="label">Select New Start Date:</td>
    <td>
      <% select_start_date_handler = "selectAssignmentDate(this, '#{url_for controller: 'registration/instructor_assignments',
          action: :select_start_date, id: instructor_assignment}')" %>
      <input class="jquery-datepicker" id="instructor_assignment_select_start_date_<%=h instructor_assignment.id %>" name="instructor_assignment_new_start_date" onchange="<%= select_start_date_handler  %> " size="10" type="text" />
    </td>
  </tr>-->
  <tr>
    <td class="label">End Date:</td>
    <td><%=h instructor_assignment.end_date_string %></td>
  </tr>
  <!--<tr>
    <td class="label">Select New End Date:</td>
    <td>
      <% select_end_date_handler = "selectAssignmentDate(this, '#{url_for controller: 'registration/instructor_assignments',
          action: :select_end_date, id: instructor_assignment}')" %>
      <input class="jquery-datepicker" id="instructor_assignment_select_end_date_<%=h instructor_assignment.id %>" name="instructor_assignment_new_end_date" onchange="<%= select_end_date_handler  %> " size="10" type="text" />
    </td>
  </tr>-->
  <tr>
    <td class="label">Role:</td>
    <td><%=h instructor_assignment.role %></td>
  </tr>
  <tr>
    <td class="label">Select New Role:</td>
    <td>
      <% select_role_handler = "selectInstructorRole(this, '#{url_for controller: 'registration/instructor_assignments',
          action: :select_role, id: instructor_assignment}')" %>
      <%= select :instructor_assignment, :role, InstructorAssignment::ROLES,
          {selected: instructor_assignment.role}, {onchange: select_role_handler} %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><hr/></td>
  </tr>
