          <div>
            <label for="school_year"><span style="color:red">*&nbsp;</span>School Year:</label>
            <%= instructor_assignment_form.collection_select :school_year, SchoolYear.find_current_and_future_school_years, :id, :name,
                {:selected => instructor_assignment.try(:school_year).try(:id)} %>
          </div>
          <div>
            <label for="school_class"><span style="color:red">*&nbsp;</span>School Class:</label>
            <%= instructor_assignment_form.collection_select :school_class, SchoolClass.all(:conditions => 'active is true'), :id, :chinese_name,
                {:selected => instructor_assignment.try(:school_class).try(:id)} %>
          </div>
          <div>
            <label for="start_date_string">Start Date:</label>
            <%= instructor_assignment_form.text_field :start_date_string, {:class => 'jquery-datepicker'} %>
          </div>
          <div>
            <label for="end_date_string">End Date:</label>
            <%= instructor_assignment_form.text_field :end_date_string, {:class => 'jquery-datepicker'} %>
          </div>
          <div>
            <label for="role"><span style="color:red">*&nbsp;</span>Role:</label>
            <%= instructor_assignment_form.select :role, InstructorAssignment::ROLES %>
          </div>
