          <div>
            <label for="english_last_name"><span style="color:red">*&nbsp;</span>English Last Name:</label>
            <%= person_form.text_field :english_last_name, :size => 20 %>
          </div>
          <div>
            <label for="english_first_name"><span style="color:red">*&nbsp;</span>English First Name:</label>
            <%= person_form.text_field :english_first_name, :size => 20 %>
          </div>
          <div>
            <label for="chinese_name">Chinese Name:</label>
            <%= person_form.text_field :chinese_name, :size => 8 %>
          </div>
          <div>
            <label for="gender"><span style="color:red">*&nbsp;</span>Gender:</label>
            <%= person_form.select :gender, [Person::GENDER_MALE, Person::GENDER_FEMALE] %>
          </div>
          <div>
            <label for="birth_year">Birth Year:</label>
            <%= person_form.text_field :birth_year, :size => 4 %>
          </div>
          <div>
            <label for="birth_month">Birth Month:</label>
            <%= person_form.select :birth_month, (1..12), :include_blank => true %>
          </div>
          <div>
            <label for="native_language">Native Language:</label>
            <%= person_form.select :native_language, Person::AVAILABLE_NATIVE_LANGUAGE %>
          </div>
