<% @title = 'Add Instructor Assignment' %>

<div class="account-form">
  <% if @instructor_assignment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@instructor_assignment.errors.count, 'error') %> prohibited adding this new instructor assignment:</h2>
        <ul>
          <% @instructor_assignment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li> <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for :instructor_assignment do |form| %>
    <fieldset>
      <legend>Add Instructor Assignment</legend>
      <span class="school-class-edit">
        <%= render partial: 'instructor_assignment_form', object: form, locals: {instructor_assignment: @instructor_assignment} %>
        <span style="color:red">*&nbsp;</span>Required Field
        <div>
          <%= submit_tag 'Create', class: 'submit' %>
        </div>
      </span>
    </fieldset>
  <% end %>
</div>
