<% @title = 'Edit Person' %>

<div class="account-form">
  <% if @person.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@person.errors.count, 'error') %> prohibited this update:</h2>
        <ul>
          <% @person.errors.full_messages.each do |msg| %>
              <li><%= msg %></li> <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for @person, url: { action: :edit } do |form| %>
    <fieldset>
      <legend>Edit Person</legend>
      <span class="person-edit">
          <% if @person.nil? or @user.has_role? Role::ROLE_NAME_REGISTRATION_OFFICER or @user.has_role? Role::ROLE_NAME_SUPER_USER or (!@person.is_a_child?)  %>
            <%= render partial: '/registration/people/person_form', object: form %>
          <% else %>
            <%= render partial: '/registration/people/person_dob_readonly_form', locals: {person: @person, person_form: form} %>
          <% end %>
          <span style="color:red">*&nbsp;</span>Required Field
          <div>
            <%= submit_tag 'Save', class: 'submit' %>
          </div>
        </span>
    </fieldset>
  <% end %>
</div>
