<% @title = 'Person Details' %>
<% @page_javascript = 'registration/people/show' %>

<h3>Person</h3>
<table class="person-detail" border="0px">
  <tr>
    <td class="label">Chinese Name:</td>
    <td><%=h @person.chinese_name %></td>
  </tr>
  <tr>
    <td class="label">English Name:</td>
    <td><%=h "#{@person.english_first_name} #{@person.english_last_name}" %></td>
  </tr>
  <tr>
    <td class="label">Gender:</td>
    <td><%=h @person.gender %></td>
  </tr>
  <tr>
    <td class="label">Birth Month/Year:</td>
    <td><%=h @person.birth_info %></td>
  </tr>
  <tr>
    <td class="label">Native Language:</td>
    <td><%=h @person.native_language %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to 'Edit Person Details', {:action => :edit, :id => @person.id}, {:class => 'button'} %></td>
  </tr>
</table>
<hr/>
<h3>Family</h3>
<% @person.families.each do |family| -%>
<table class="person-detail" border="0px">
  <tr>
    <td class="label">Parent One:</td>
    <td><%=h family.parent_one.try(:name) %></td>
  </tr>
  <tr>
    <td class="label">Parent Two:</td>
    <td><%=h family.parent_two.try(:name) %></td>
  </tr>
  <tr>
    <td class="label">Children:</td>
    <td><%=h family.children_names %></td>
  </tr>
  <tr>
    <td class="label">Address:</td>
    <td><%=h family.address.street_address %></td>
  </tr>
  <tr>
    <td class="label">Home Phone:</td>
    <td><%=h family.address.home_phone %></td>
  </tr>
  <tr>
    <td class="label">Cell Phone:</td>
    <td><%=h family.address.cell_phone %></td>
  </tr>
  <tr>
    <td class="label">Email:</td>
    <td><%=h family.address.email %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to 'Edit Family Data', {:controller => 'registration/families', :action => :show, :id => family.id}, {:class => 'button'} %></td>
  </tr>
</table>
<% end %>
<hr/>
<h3>Grade And Class Assignment</h3>
<table class="person-detail" border="0px">
  <%= render :partial => 'student_class_assignment', :object => @person.student_class_assignment, :locals => {:student_id => @person.id} %>
</table>
<hr/>
<h3>Instructor Assignment</h3>
<table class="person-detail" border="0px">
  <% @person.instructor_assignments.each do |instructor_assignment| %>
  <tr>
    <td class="label">School Year:</td>
    <td><%=h instructor_assignment.try(:school_year).try(:name) %></td>
  </tr>
  <tr>
    <td class="label">School Class:</td>
    <td><%=h instructor_assignment.try(:school_class).try(:chinese_name) %></td>
  </tr>
  <tr>
    <td class="label">Start Date:</td>
    <td><%=h instructor_assignment.try(:start_date) %></td>
  </tr>
  <tr>
    <td class="label">End Date:</td>
    <td><%=h instructor_assignment.try(:end_date) %></td>
  </tr>
  <tr>
    <td class="label">Role:</td>
    <td><%=h instructor_assignment.try(:role) %></td>
  </tr>
  <tr>
    <td></td>
    <td><hr/></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td><%= link_to 'Add Instructor Assignment', {:controller => 'registration/people', :action => :add_instructor_assignment, :id => @person}, {:class => 'button'} %></td>
  </tr>
</table>

