<% @title = 'Refund Preview' %>
<style type="text/css">
  .account-form div {margin: 0.5em 0;}
  .tuition-detail td {width: 15em;float: left;text-align: right;}
  .tuition-detail .label {width: 15em;float: left;font-weight: bold;text-align: right;margin-right: 0.5em;}
</style>

<div class="account-form">
  <% if @withdraw_request.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@refund_request.errors.size, 'error') %> error happens from being processed:</h2>
        <ul>
          <% @withdraw_request.errors.full_messages.each do |msg| %>
              <li><%= msg %></li> <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for @withdraw_request, url: {action: 'save_withdraw_request'} do |form| %>

    <h3>Refund Preview</h3>

    <% @withdraw_request.withdraw_request_details.each do |withdraw_request_detail| %>
      <p>
        For <%=h withdraw_request_detail.student.name %> <%=h (withdraw_request_detail.elective_class_only == 'Y' ? ' - Withdraw Elective Class Only' : '')%>
        <br/>
      </p>
      <% student_class_assignment = withdraw_request_detail.student.student_class_assignment_for SchoolYear.current_school_year %>
      <table class="tuition-detail" border="0px">
        <tr>
          <td class="label">Grade:</td>
          <td><%=h student_class_assignment.try(:grade).try(:name) unless student_class_assignment.nil? %></td>
        </tr>

        <tr>
          <td class="label">School Class:</td>
          <td><%=h student_class_assignment.try(:school_class).try(:name) unless student_class_assignment.nil? %></td>
        </tr>

        <tr>
          <td class="label">Registration Fee:</td>
          <td><%= number_to_currency withdraw_request_detail.refund_registration_fee %></td>
        </tr>

        <tr>
          <td class="label">Tuition:</td>
          <td><%= number_to_currency withdraw_request_detail.refund_tuition %></td>
        </tr>

        <tr>
          <td class="label">Elective Class Fee:</td>
          <td><%= number_to_currency withdraw_request_detail.elective_class_fee %></td>
        </tr>

        <tr>
          <td class="label">Books / Material:</td>
          <td><%= number_to_currency withdraw_request_detail.refund_book_charge %></td>
        </tr>
      </table>

      <%= hidden_field_tag "#{withdraw_request_detail.student.id}_refund_registration_fee_in_cents", withdraw_request_detail.refund_registration_fee_in_cents %>
      <%= hidden_field_tag "#{withdraw_request_detail.student.id}_refund_tuition_in_cents", withdraw_request_detail.refund_tuition_in_cents %>
      <%= hidden_field_tag "#{withdraw_request_detail.student.id}_refund_book_charge_in_cents", withdraw_request_detail.refund_book_charge_in_cents %>
      <%= hidden_field_tag "#{withdraw_request_detail.student.id}_elective_class_fee_in_cents", withdraw_request_detail.elective_class_fee_in_cents %>
      <%= hidden_field_tag "#{withdraw_request_detail.student.id}_elective_class_only", withdraw_request_detail.elective_class_only %>
      <%= hidden_field_tag "withdraw_request_detail[student_id][]", withdraw_request_detail.student.id %>
      <hr/>
    <% end %>


    <table class="tuition-detail" border="0px">
      <tr>
        <td class="label">PVA Annual Membership:</td>
        <td><%= number_to_currency @withdraw_request.refund_pva_due %></td>
      </tr>
      <tr>
        <td class="label">CCCA Annual Membership:</td>
        <td><%= number_to_currency @withdraw_request.refund_ccca_due %></td>
      </tr>
    </table>
    <hr/>
    <table class="tuition-detail" border="0px">
      <tr>
        <td class="label">Refund Grand Total:</td>
        <td><%= number_to_currency @withdraw_request.refund_grand_total %></td>
      </tr>
    </table>
    <%= form.hidden_field :refund_pva_due_in_cents %>
    <%= form.hidden_field :refund_ccca_due_in_cents %>
    <%= form.hidden_field :refund_grand_total_in_cents %>
    <%= form.hidden_field :request_by_id %>
    <%= form.hidden_field :school_year_id %>
    <%= form.hidden_field :status_code %>
    <%= form.hidden_field :status_by_id %>
    <br/>

    <fieldset>
        <legend>Please Verify Your Name on Check and Address</legend>
        <span class="payment-entry">
          <div>
            <label for="request_by_name"><span style="color:red">*&nbsp;</span>Name:</label>
            <%= form.text_field :request_by_name, size: 50, required: true %>
          </div>

          <div>
            <label for="request_by_address"><span style="color:red">*&nbsp;</span>Address:</label>
            <%= form.text_field :request_by_address, size: 50, required: true %>
          </div>

          <div><span style="color:red">*&nbsp;</span>Required Field</div>

          <div>
            <%= submit_tag 'Submit', class: 'button', disable_with: 'Processing... '%>
            <%= link_to 'Cancel', {controller: '/home'}, {class: 'button'} %>
          </div>
        </span>
      </fieldset>
  <% end %>
</div>
<br>
<div>Please read <a href="#" onclick="window.open('http://www.to-cs.org/tocs/');">Registraion Overview and Refund Policy</a> or contact <a href="mailto:<%= Contacts::REGISTRATION_CONTACT %>"><%= Contacts::REGISTRATION_CONTACT %></a> for additional questions.
</div>
<br>

