<% @title = 'List Active Students By Name' %>

<table class="details-table" border="1px">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>姓名</th>
      <th>班級</th>
      <th>教室</th>
      <th colspan="2">第三堂選修課</th>
    </tr>
  </thead>
  <tbody>
    <% @active_student_class_assignments.each do |student_class_assignment| %>
    <tr>
      <td><%=h student_class_assignment.student.english_last_name %></td>
      <td><%=h student_class_assignment.student.english_first_name %></td>
      <td><%=h student_class_assignment.student.chinese_name %></td>
      <td><%=h student_class_assignment.school_class.short_name %></td>
      <td><%=h student_class_assignment.school_class.location %></td>
      <% unless student_class_assignment.elective_class.nil? %>
      <td><%=h student_class_assignment.elective_class.chinese_name %></td>
      <td><%=h student_class_assignment.elective_class.location %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>
Current Time: <%= display_now_in_pacific %>
