      <td><%= link_to 'Edit', {:action => 'edit', :id => school_class} %></td>
      <td><%=h school_class.english_name %></td>
      <td><%=h school_class.chinese_name %></td>
      <td><%=h school_class.short_name %></td>
      <td><%=h school_class.description %></td>
      <td><%=h school_class.location %></td>
      <td><%=h school_class.max_size %></td>
      <td><%=h school_class.min_age %></td>
      <td><%=h school_class.max_age %></td>
      <td><%=h school_class.grade.try(:chinese_name) %></td>
      <td><%= convert_to_yes_no school_class.active_in_current_school_year? %></td>
      <% if school_class.active_in_current_school_year? %>
        <td>
          <input type="button" value="Disable" onclick="toggleActive(this, '<%= url_for :action => :disable, :id => school_class %>')"/>
        </td>
      <% else %>
        <td>
          <input type="button" value="Enable" onclick="toggleActive(this, '<%= url_for :action => :enable, :id => school_class %>')"/>
        </td>
      <% end %>
