<% @title = "Enter Student Final Mark For #{@school_class.name} For #{@school_year.name}" %>

<table class="student-list-header">
  <% @student_to_mark_map.each_pair do |student, mark| %>
      <% if mark.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(mark.errors[:base].count, 'error') %> prohibited updating final mark
              for <%= h student.name %>:</h2>
            <ul>
              <% mark.errors[:base].each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
  <% end %>
  <tr>
    <% assignment_hash = @school_class.instructor_assignments(@school_year) %>
    <td class="instructor-cell">
      <% assignment_hash[InstructorAssignment::ROLE_PRIMARY_INSTRUCTOR].each do |instructor| %>
          <%= h "#{instructor.name} 老師" %>&nbsp;
      <% end %>
    </td>
    <td><%= h @school_class.chinese_name %></td>
    <td><%= h "教室: #{@school_class.location}" %></td>
  </tr>
</table>

<%= form_tag action: 'enter_student_final_mark', id: @school_class do %>
    <table class="details-table" border="1px">
      <thead>
      <tr>
        <th>學生</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>前三名</th>
        <th>精神獎</th>
        <th>進步獎</th>
        <th>全勤獎</th>
        <th>博雄學藝獎</th>
        <th>總成績</th>
      </tr>
      </thead>
      <tbody>
      <% @school_class.students(@school_year).each do |student| -%>
          <tr>
            <td><%= h student.chinese_name %></td>
            <td><%= h student.english_last_name %></td>
            <td><%= h student.english_first_name %></td>
            <% mark = @student_to_mark_map[student] %>
            <td align="center"><%= text_field_tag "top_three_#{student.id}", "#{mark.top_three}", size: 3, align: :right %></td>
            <td align="center"><%= check_box_tag "spirit_award_#{student.id}", 'true', mark.spirit_award %></td>
            <td align="center"><%= check_box_tag "progress_award_#{student.id}", 'true', mark.progress_award %></td>
            <td align="center"><%= check_box_tag "attendance_award_#{student.id}", 'true', mark.attendance_award %></td>
            <td align="center"><%= check_box_tag "talent_award_#{student.id}", 'true', mark.talent_award %></td>
            <td align="center"><%= text_field_tag "total_score_#{student.id}", "#{mark.total_score}", size: 6, align: :right %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    Total Student Count: <%= @school_class.class_size(@school_year) %>
    <br/><br/>
    <%= submit_tag 'Save Student Final Marks', class: 'button' %>
<% end %>
<br/>
